{% extends "admin/home.html" %}
{% load static %}
{% block title %}Product Details List{% endblock %}
{% block content %}
<script src="{% static 'js/admin/product_details/product_details_list.js' %}"></script>
<div class="overflow-auto p-4 rounded h-100">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h4>Product Details List</h4>
        <button class="btn btn-success" onclick="create_product_details()">+ Create Product Details</button>
    </div>
    <table class="table table-striped table-bordered w-100">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Size</th>
                <th>Image</th>
                <th>Is Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product_detail in product_details %}
            <tr>
                <td>{{ product_detail.id }}</td>
                <td>{{ product_detail.product.name }}</td>
                <td>{{ product_detail.price }}</td>
                <td>{{ product_detail.stock }}</td>
                <td>{{ product_detail.size }}</td>
                <td>
                    <img src="{% static product_detail.image %}" alt="Image" height="40" width="60" style="object-fit: contain;" />
                </td>
                <td>
                   <div class="form-check form-switch">
                        <input class="form-check-input toggle-active" type="checkbox" 
                            data-product-detail-id="{{ product_detail.id }}" 
                            {% if product_detail.is_active %}checked{% endif %} />
                    </div>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" onclick="update_product_details({{ product_detail.id }})">Update</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">No product details found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    td {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}
