    body,
    html {
        height: 100%;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        height: 100vh;
        background: #182232;
        /* dark slate background */
        transition: width 0.3s ease;
        overflow-x: hidden;
    }

    .sidebar.collapsed {
        width: 0px !important;
    }

    .original-price {
  text-decoration: line-through;
  color: #d00;
  font-size: 16px;
  font-family: inherit;
  font-weight: 300;
}
.discounted-price {
  font-size: 14px;
  color: #222;
  font-family: inherit;
  font-weight: 400;
}
.discount-label {
  margin: 0 0 4px 0;
  color: #1c7c1c;
  font-size: 14px;
  font-weight: 700;
}

    .sidebar-header {
        color: white;
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem;
        border-bottom: 1px solid #334155;
        align-items: center;
    }

    .sidebar-menu .nav-link {
        color: white;
        text-transform: capitalize;
        padding: 10px 1.5rem;
        border-bottom: 1px solid #334155;
        transition: background-color 0.2s ease;
    }

    .sidebar-menu .nav-link:hover,
    .sidebar-menu .nav-link.active {
        background-color: #2563eb;
        /* blue highlight */
    }

    .sidebar.collapsed .nav-link span {
        display: none;
    }

    .sidebar.collapsed .sidebar-header span:first-child {
        display: none;
    }

    .toggle-btn {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .content-area {
        flex-grow: 1;
        height: 100vh;
        overflow-y: auto;
    }

    .topbar {
        height: 60px;
        border-bottom: 1px solid #ddd;
        background: #233046;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .logout-icon {
        cursor: pointer;
        font-size: 1.3rem;
    }

    .show {
        display: block !important;
    }

    .hide {
        display: none !important;
    }

    /* loader css */
    .spinner {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        /* blue color */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #loaderdiv {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        z-index: 9999;
        align-items: center;
        user-select: none;
        pointer-events: auto;
    }

    .hh {
        cursor: pointer;
    }