{% extends "enduser/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<script src="{% static 'js/enduser/product_list.js' %}"></script>
<div class="container py-4" style="padding-right: 2px;padding-left: 2px;">
  <!-- Category Catalog -->
  <div class="d-flex bg-light p-2 mb-5 mt-2 rounded w-100 overflow-auto" style="gap: 1rem; white-space: nowrap; scrollbar-width:none;">
    {% for category in categories %}
      <div class="text-center border-0 m-0 p-0 flex-shrink-0 cat-img-div" style="width: 120px;">
        <img class="cat-img" src="{% static category.image %}" alt="{{ category.name }}" class="mx-auto mt-3" style="height: 60px; width: 100px; object-fit: cover;">
        <div class="card-body p-2">
          <h5 class="card-title mb-0 text-truncate" style="font-size: small; max-width: 100px;">
            {{ category.name }}
          </h5>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Poster Carousel -->
  {% if posters %}
    <div id="posterCarousel" class="carousel slide mx-auto" data-bs-ride="carousel" data-bs-interval="2000" style="max-width:100%;">
      <div class="carousel-inner">
        {% for poster in posters %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{% static poster.image %}" class="d-block w-100 rounded" alt="Poster {{forloop.counter}}" id="poster-img" style="height:340px;object-fit:cover;">
            {% if poster.caption %}
              <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                <h5>{{ poster.caption }}</h5>
                <p>{{ poster.description }}</p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#posterCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#posterCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endif %}

  <!--best deals-->
  <div class="products-grid mt-4">
    {% for product in products %}
      <div class="product-card">
        <span class="wishlist-icon" 
                data-product-id="{{ product.id }}"
                onclick="toggleWishlist(this)">
            {% if product.is_in_wishlist %}
              <i class="bi bi-heart-fill" style="color:red"></i>
            {% else %}
              <i class="bi bi-heart"></i>
            {% endif %}
          </span>
        <div class="d-flex justify-content-center">
          <img src="{% static product.image %}" id="p_img" alt="{{ product.name }}" height="220px" width="70%" style="object-fit:contain;" />
        </div>
        <h4 class="d-flex w-100 px-4 justify-content-start" style="font-size:16px;">
          {{ product.name }}
        </h4>
        <form id="productform" class="w-100">
          <div class="mb-2">
            <select class="form-select" name="product_details_id" id="option_{{ product.id }}" style="font-size:12px;">
              {% if product.product_options %}
                {% for item in product.product_options %}
                  <option value="{{ item.id }}" {% if forloop.first %}selected{% endif %}>
                    ₹{{ item.price }} {{ item.size }}
                  </option>
                {% endfor %}
              {% else %}
                <option disabled>Not available options</option>
              {% endif %}
            </select>
          </div>
          <div class="mb-2">
            <label for="quantity_{{ product.id }}" class="form-label fw-semibold mb-1" style="font-size: 0.98rem;font-size:12px;">
              Quantity:
            </label>
            <input type="number" name="quantity" id="quantity_{{ product.id }}"
                  min="1" value="1" class="form-control" style="max-width: 80px; padding:5px; display: inline-block; font-size:12px;" />
          </div>
          <div class="d-flex justify-content-between gap-2">
            <button type="button" onclick="buy_now(this)" class="btn btn-danger w-100 px-0 fw-bold" 
                    style="letter-spacing: 0.5px; font-size:10px;">
              Buy Now
            </button>
            <button type="button" onclick="add_to_cart(this)" class="btn px-0 w-100 fw-bold" 
                    style="background:#32623e; color:white; letter-spacing: 0.5px; font-size:10px;">
              Add to cart
            </button>
          </div>
        </form>
      </div>
    {% endfor %}
  </div>

    <!--products-->
  <div class="products-grid mt-4">
    {% for product in products %}
      <div class="product-card">
        <span class="wishlist-icon" 
                data-product-id="{{ product.id }}"
                onclick="toggleWishlist(this)">
            {% if product.is_in_wishlist %}
              <i class="bi bi-heart-fill" style="color:red"></i>
            {% else %}
              <i class="bi bi-heart"></i>
            {% endif %}
          </span>
        <div class="d-flex justify-content-center">
          <img src="{% static product.image %}" id="p_img" alt="{{ product.name }}" height="220px" width="70%" style="object-fit:contain;" />
        </div>
        <h4 class="d-flex w-100 px-4 justify-content-start" style="font-size:16px;">
          {{ product.name }}
        </h4>
        <form id="productform" class="w-100">
          <div class="mb-2">
            <select class="form-select" name="product_details_id" id="option_{{ product.id }}" style="font-size:12px;">
              {% if product.product_options %}
                {% for item in product.product_options %}
                  <option value="{{ item.id }}" {% if forloop.first %}selected{% endif %}>
                    ₹{{ item.price }} {{ item.size }}
                  </option>
                {% endfor %}
              {% else %}
                <option disabled>Not available options</option>
              {% endif %}
            </select>
          </div>
          <div class="mb-2">
            <label for="quantity_{{ product.id }}" class="form-label fw-semibold mb-1" style="font-size: 0.98rem;font-size:12px;">
              Quantity:
            </label>
            <input type="number" name="quantity" id="quantity_{{ product.id }}"
                  min="1" value="1" class="form-control" style="max-width: 80px; padding:5px; display: inline-block; font-size:12px;" />
          </div>
          <div class="d-flex justify-content-between gap-2">
            <button type="button" onclick="buy_now(this)" class="btn btn-danger w-100 px-0 fw-bold" 
                    style="letter-spacing: 0.5px; font-size:10px;">
              Buy Now
            </button>
            <button type="button" onclick="add_to_cart(this)" class="btn px-0 w-100 fw-bold" 
                    style="background:#32623e; color:white; letter-spacing: 0.5px; font-size:10px;">
              Add to cart
            </button>
          </div>
        </form>
      </div>
    {% endfor %}
  </div>
</div>
<style>
  @media(max-width: 662px){
    #poster-img{
      max-height:150px;
    }
  }
</style>
{% endblock %}
