{% extends 'enduser/base.html' %}
{% load static %}
{% block title %}Wishlist | Products{% endblock %}
{% block content %}
<script src="{% static 'js/enduser/product_list.js'%}"></script>
<div class="container-9 py-4" style="padding-right: 2px;padding-left: 2px;">
  <div class="products-main-card bg-light p-4" style="margin-top:50px;min-height:90vh;">
    <!--products-->
    <div class="container-9 py-4 bg-light" style="padding: 10px;">
    <div class="row g-4 m-auto">
      {% for product in products %}
      <!-- Product Card -->
      <div class="col-sm-6 col-md-4 col-lg-3 custom-col">
        <div class="card product-card h-100">
          <span class="wishlist-icon" 
              data-product-id="{{ product.id }}"
              onclick="toggleWishlist(this)">
            {% if product.is_in_wishlist %}
              <i class="bi bi-heart-fill" style="color:red"></i>
            {% else %}
              <i class="bi bi-heart"></i>
            {% endif %}
          </span>
          <img src="{% static product.image %}" class="product-img" alt="Product">
          <div class="product-info">
            <h5 class="product-title">{{product.name}}</h5>
            <p class="para product-price">₹{{product.price}}/{{product.size}}</p>
            <button class="para text-center view-btn" onclick="window.location.href='/product/{{product.id}}/'">View Details-></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}