{% extends 'admin/home.html' %}
{% load static %}
{% block title %}Create Admin Worker {% endblock %}
{% block content %}
<script src="{%static 'js/admin/worker/worker_create.js'%}"></script>
<div class="card shadow-sm m-auto mt-4 p-4 rounded" style="max-width: 600px;">
  <h2 class="mb-4 text-center fw-bold" style="color: #007bff;">Create Worker</h2>
  <form class="px-3" id="adminWorkerForm" onsubmit="return false;" novalidate>
    
    <div class="mb-3">
      <label for="first_name" class="form-label fw-semibold">First Name*</label>
      <input type="text" id="first_name" name="first_name" required class="form-control" placeholder="Enter first name"style="border-radius: 6px;"/>
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label fw-semibold">Last Name*</label>
      <input type="text" id="last_name" name="last_name" required class="form-control" placeholder="Enter last name"style="border-radius: 6px;"/>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label fw-semibold">Email*</label>
      <input type="email"  id="email"  name="email"  required  class="form-control"  placeholder="example@example.com" style="border-radius: 6px;"/>
    </div>

    <div class="mb-3">
      <label for="phone_number" class="form-label fw-semibold">Phone Number*</label>
      <input type="text"  id="phone_number"  name="phone_number"  required  class="form-control"  placeholder="+1-234-567-8900" style="border-radius: 6px;"/>
    </div>
    

    <button type="submit" onclick="Worker_create()" class="btn btn-primary fw-bold mt-3 w-100"  style="padding: 12px; font-size: 18px; border-radius: 8px;">
      Create Worker
    </button>
  </form>

  <div id="message" class="text-center mt-4 fw-semibold m-auto"></div>
</div>

<style>
 <style>
  #message.error {
    margin: 20px auto;
    color: #dc3545; /* Bootstrap danger red */
  }
  #message.success {
    margin: 20px auto;
    color: #28a745; /* Bootstrap success green */
  }
</style>
</style>

{% endblock %}
